target/
log/
dbs/
notify.sh
.env
.lein-env
.lein-repl-history
rest.http
.config.edn
stellar-poc/.env
s3-server/.env 
stellar-poc/node_modules
s3-server/node_modules
stellar-poc/rest.http
waves-srv/node_modules
indracore-rpc-client/node_modules
indracore-rust/http_service/.indrawallet