log/
postgres-data/
target/
target/zeetomic-core-0.1.0.jar
target/classes/
dbs/
notify.sh
.env
.lein-env
.lein-repl-history
rest.http
.config.edn
stellar-poc/.env
s3-server/.env 
stellar-poc/node_modules
s3-server/node_modules
stellar-poc/rest.http